# ---> Go
# Binaries for programs and plugins
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.db

.env
.idea
.backup
.DS_Store
*.log
.pnp.*
coverage.json
pnpm-lock.yaml
yarn.lock

out/
cache/
node_modules/
.coverage_artifacts
.coverage_cache
.coverage_contracts
artifacts
build
cache
coverage
dist
node_modules
types
deployments
tmp

# fhevm
fhevmTemp



